header{
    background: url('images/Void---banner.png') no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    max-width: 100%;
    min-width: 30%; 

    position: relative;
    
}

div.box-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#logo-header{
    max-width: 30%;
}

#infinity{
    max-width: 5%;
    cursor: pointer;
}

div.box-text > h3{
    color: #FFF;
    font-size: .9rem;
    letter-spacing: 2.4px;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}

nav a {
    font-family: 'Saira', sans-serif;
}

@media screen and (max-width: 768px){
    #logo-header{
        margin-top: 20%;
        max-width: 70%;
        min-height: 30%;
    }

    #infinity{
        max-width: 20%;
    }
}

