*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/header";
@import "partials/navbar";
@import "partials/scrollbar";
@import "partials/layout";

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
}

button{
    cursor: pointer;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}