@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Saira:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url("images/Void---banner 1.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
  min-width: 30%;
  position: relative;
}

div.box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

#logo-header {
  max-width: 30%;
}

#infinity {
  max-width: 5%;
  cursor: pointer;
}

div.box-text > h3 {
  color: #FFF;
  font-size: 0.9rem;
  letter-spacing: 2.4px;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

nav a {
  font-family: "Saira", sans-serif;
}

@media screen and (max-width: 768px) {
  #logo-header {
    margin-top: 20%;
    max-width: 70%;
    min-height: 30%;
  }
  #infinity {
    max-width: 20%;
  }
}
menu {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.nav-button {
  border: 0;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.overlay {
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9; /*Deixando esse item acima de tudo*/
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: all 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.overlay-content > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-content > ul > a {
  margin-top: 30%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  font-size: 2rem;
  transition: 0.3s;
}

#nav-desktop {
  display: none;
}

/*Para tablets*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  a {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1024px) {
  menu {
    display: none;
  }
  #nav-desktop {
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  #nav-desktop a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.2rem;
    transition: 0.7s;
  }
  #nav-desktop a:hover {
    color: #818181;
  }
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #5B21B6;
  border-radius: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

#description {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
}

#description > p {
  margin: 5%;
  margin-top: 7%;
  margin-left: 10%;
  width: 30%;
  float: left;
  font-family: "Montserrat", sans-serif;
  visibility: hidden;
}

#astronaut-description {
  display: block;
  max-width: 30%;
  float: right;
  margin-left: 15%;
  visibility: hidden;
}

.services {
  background-color: #141414;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-family: "Montserrat", sans-serif;
}
.services .container-jobs {
  display: flex;
  flex-direction: row;
}
.services .icon-services {
  max-width: 15%;
  display: block;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.services h2 {
  text-align: center;
  margin-bottom: 10px;
}
.services .jobs {
  padding: 10px;
  margin: 20px;
  width: 25%;
  flex-direction: row;
}
.services #video, .services #design, .services #landing-page {
  border-right: 2px solid white;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.comments .first-comment, .comments .second-comment, .comments .third-comment {
  visibility: hidden;
}
.comments h1 {
  text-align: center;
  margin-bottom: 100px;
  font-family: "Saira", sans-serif;
  font-size: 25px;
}
.comments .container-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 120px;
}
.comments .box-comment {
  background-color: #5B21B6;
  width: 300px;
  height: 450px;
  padding: 20px;
  color: white;
  border-radius: 20px;
}
.comments .box-comment img {
  display: block;
  margin: auto;
  margin-top: 30px;
  max-width: 25%;
  border: 3px solid white;
  border-radius: 50%;
}
.comments .box-comment h2 {
  margin-top: 15%;
  margin-bottom: 15%;
  text-align: center;
  font-family: "Saira", sans-serif;
}
.comments .box-comment p {
  margin-bottom: 15%;
  font-family: "Montserrat", sans-serif;
}

.planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #181818;
}
.planos h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Saira", sans-serif;
  font-size: 25px;
}
.planos .container-planos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}
.planos .box-planos {
  width: 350px;
  height: 80vh;
  padding: 25px;
  color: white;
  border-radius: 20px;
}
.planos i {
  margin-right: 10px;
}
.planos .link-btn-personalizado {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 20%;
}
.planos .link-btn-personalizado .link-text:hover {
  opacity: 50%;
}
.planos .link-btn-personalizado button {
  gap: 40px;
  display: block;
  margin: auto;
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 7px;
  color: #fff;
  padding: 10px;
  width: 100%;
  transition: 0.4s;
}
.planos .link-btn-personalizado button i {
  color: white;
  margin-left: 10px;
}
.planos .link-btn-personalizado button:hover {
  background-color: #fff;
  color: #181818;
}
.planos .void {
  background-color: white;
  visibility: hidden;
}
.planos .void h2 {
  color: #5B21B6;
  text-align: center;
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.planos .void h3 {
  color: #5B21B6;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.planos .void p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #181818;
  margin-top: 20px;
}
.planos .void hr {
  margin-top: 50px;
  margin-bottom: 40px;
  border: 2px solid #5B21B6;
  border-radius: 10px;
}
.planos .void .link-btn {
  width: 60%;
  background-color: red;
}
.planos .void .link-text:hover {
  opacity: 50%;
}
.planos .void button {
  display: block;
  margin: auto;
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: #5B21B6;
  border: 3px solid #5B21B6;
  border-radius: 7px;
  color: #fff;
  padding: 10px;
  width: 100%;
  transition: 0.4s;
}
.planos .void button:hover {
  background-color: #fff;
  color: #5B21B6;
}
.planos .constelacao {
  background-color: #5B21B6;
  visibility: hidden;
}
.planos .constelacao h2 {
  color: #fff;
  text-align: center;
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.planos .constelacao h3 {
  color: #fff;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.planos .constelacao p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}
.planos .constelacao hr {
  margin-top: 50px;
  margin-bottom: 40px;
  border: 2px solid #fff;
  border-radius: 10px;
}
.planos .constelacao .link-btn {
  width: 40%;
}
.planos .constelacao .link-text:hover {
  opacity: 50%;
}
.planos .constelacao button {
  display: block;
  margin: auto;
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 7px;
  color: #5B21B6;
  padding: 10px;
  width: 100%;
  transition: 0.4s;
}
.planos .constelacao button:hover {
  background-color: #5B21B6;
  color: #fff;
}
.planos .supernova {
  background-color: white;
  visibility: hidden;
}
.planos .supernova h2 {
  color: #5B21B6;
  text-align: center;
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.planos .supernova h3 {
  color: #5B21B6;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.planos .supernova p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #181818;
  margin-top: 20px;
}
.planos .supernova hr {
  margin-top: 50px;
  margin-bottom: 40px;
  border: 2px solid #5B21B6;
  border-radius: 10px;
}
.planos .supernova .link-btn {
  width: 40%;
}
.planos .supernova .link-text:hover {
  opacity: 50%;
}
.planos .supernova button {
  display: block;
  margin: auto;
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: #5B21B6;
  border: 3px solid #5B21B6;
  border-radius: 7px;
  color: #fff;
  padding: 10px;
  width: 100%;
  transition: 0.4s;
}
.planos .supernova button:hover {
  background-color: #fff;
  color: #5B21B6;
}

.contact {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11em;
  height: 100vh;
}
.contact img {
  width: 40%;
}
.contact #contact-img {
  visibility: hidden;
}
.contact .form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
  font-family: "Saira", sans-serif;
}
.contact .form > h1 {
  text-align: center;
  margin-bottom: 40px;
}
.contact .form label, .contact input, .contact texarea, .contact button {
  display: block;
  width: 50%;
  margin: auto;
}
.contact .form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.contact .form input, .contact .form textarea {
  width: 90%;
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
  border: 2px solid #181818;
}
.contact .form textarea {
  min-height: 13rem;
  resize: vertical;
  display: block;
  margin: auto;
}
.contact .form input:hover, .contact .form input:focus, .contact .form textarea:hover, .contact .form textarea:focus {
  outline: none;
  border-color: #7C37E8;
  box-shadow: 0 0 0 3px #7C37E8;
}
.contact .form button {
  display: block;
  margin-top: 20px;
  padding: 1rem;
  background: #5B21B6;
  border: 2px solid #5B21B6;
  color: #fff;
  font-size: inherit;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 90%;
}
.contact .form button:hover, .contact .form button:focus {
  outline: none;
  background: transparent;
  color: #5B21B6;
  border: 2px solid #5B21B6;
}

footer {
  background-color: #141414;
  color: #fff;
  font-family: "Saira", sans-serif;
  height: 45vh;
}
footer .footer-items {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
}
footer .footer-items .about-footer {
  width: 23%;
}
footer .footer-items .redes-sociais {
  width: 25%;
}
footer .footer-items .redes-sociais h1 {
  margin-bottom: 10px;
}
footer .footer-items .redes-sociais a {
  width: 100%;
  transition: 1.2s;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
  text-decoration: none;
}
footer .footer-items #instagram, footer .footer-items #behance, footer .footer-items #linkedin, footer .footer-items #github {
  visibility: hidden;
}
footer .footer-items .footer-logo {
  width: 15%;
}
footer .footer-items #logo-footer-mobile {
  display: none;
}
footer .footer-items p {
  color: #d4d4d4;
}
footer img {
  max-width: 100%;
}
footer i {
  border: 2px solid #fff;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: 1.2s;
}
footer i:hover {
  transform: rotate(180deg);
}
footer .credits {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .credits a {
  color: #E97000;
}
footer .credits p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #description > p {
    margin: 5%;
    margin-top: 7%;
    margin-left: 10%;
    width: 80%;
    float: left;
    font-family: "Montserrat", sans-serif;
  }
  #astronaut-description {
    display: none;
  }
  .services {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .services .container-jobs {
    display: flex;
    flex-direction: column;
  }
  .services .icon-services {
    max-width: 20%;
  }
  .services h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .services p {
    padding-bottom: 100px;
  }
  .services .jobs {
    margin: 20px;
    width: 90%;
    flex-direction: row;
  }
  .services #video, .services #design, .services #landing-page {
    border-right: 0px;
    border-bottom: 2px solid white;
  }
  .comments {
    height: 100%;
  }
  .comments h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: "Saira", sans-serif;
    font-size: 25px;
  }
  .comments .container-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
  }
  .comments .box-comment {
    background-color: #5B21B6;
    width: 300px;
    height: 400px;
    padding: 20px;
    color: white;
    border-radius: 20px;
  }
  .comments .box-comment img {
    display: block;
    margin: auto;
    margin-top: 3px;
    max-width: 25%;
    border: 3px solid white;
    border-radius: 50%;
  }
  .comments .box-comment h2 {
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
  }
  .comments .box-comment p {
    margin-bottom: 15%;
  }
  .planos {
    margin-top: 100px;
    padding-bottom: 110px;
    height: 100%;
  }
  .planos .box-planos {
    width: 300px;
  }
  .planos h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 25px;
  }
  .planos .container-planos {
    display: flex;
    flex-direction: column;
  }
  .contact img {
    display: none;
  }
  footer {
    height: 100%;
  }
  footer h1 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: 10px;
  }
  footer .footer-items {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
  }
  footer .footer-items .about-footer {
    width: 100%;
  }
  footer .footer-items .redes-sociais {
    padding-bottom: 20px;
    width: 100%;
  }
  footer .footer-items .redes-sociais a {
    width: 100%;
    transition: 1.2s;
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
    text-decoration: none;
  }
  footer .footer-items .footer-logo {
    width: 15%;
    display: none;
  }
  footer .footer-items #logo-footer-mobile {
    display: block;
    margin: auto;
    max-width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer .footer-items p {
    color: #d4d4d4;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 90%;
  }
  footer i {
    border: 2px solid #fff;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: 1.2s;
  }
  footer i:hover {
    transform: rotate(180deg);
  }
  footer .credits {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #181818;
  }
  footer .credits a {
    color: #E97000;
  }
  footer .credits p {
    text-align: center;
    font-size: 1rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */